TictotApp {
    align: center middle;
    background: $surface;
    layout: vertical;
}

Timer {
    background: $boost;
    color: $text;
}

Display {
    content-align: center middle;
    height: 5;
    text-opacity: 60%;
}

.buttons {
    height: 9;
}

#start {
    dock: left;
}

#stop {
    dock: left;
    display: none;
}

#reset {
    dock: right;
}

.counting {
    color: $text;
    text-style: bold;
}

.counting TimeDisplay {
    text-opacity: 100%;
}

.counting #start {
    display: none;
}

.counting #stop {
    display: block;
}

.started #reset {
    visibility: hidden;
}
